body {
	max-width: 48rem;
	margin: auto;
	padding: 2rem;
	font-family: -apple-system, sans-serif;
	/*color: #27272a;*/
	color: #4b5563;
	image-rendering: pixelated;
}

logo {
	font-family: monospace;
	font-size: 32pt;
	color: #6161ff;
}

#top {
	margin-bottom: 3rem;
	display: block;
}

nav {
	float: right;
	margin-top: 1rem;
}

h1 {
	font-size: 2.25rem;
}

h1, h2 { font-weight: 400; }

h3 { font-weight:500; }

a {
	  color: #6161ff;
	  text-decoration: none; /* remove underline */
}

a:hover {
	color: inherit;
	text-decoration: underline;
}

nav > a {
	margin-left: 2rem;
}

p, ol, ul {
	line-height: 26px;
}

dt {
	color: #878791;
	font-size: 1.2rem;
	margin-bottom: 3rem;
}

pre, c {
	padding: 4px 8px;
	background-color: #b5b7e5;
	border-radius: 8px;
	white-space: pre-wrap;
	word-wrap: break-word;
	overflow-x: auto;
	font-family: monospace;
	font-size: 1.2em;
}

footer {
	margin:5rem auto;
	opacity: 0.4;
	width: fit-content;
}